---
- name: Basic System Setup v3
  hosts: web
  become: true
  tasks:
    - name: Update all security packages
      ansible.builtin.package:
        name: '*'
        state: latest
        security: true

    - name: Create a new user
      ansible.builtin.user:
        name: fed
        password: Monkey!2
        state: present
        create_home:  true