---
- name: Basic System Setup v3
  hosts: web
  become: true
  tasks:
    - name: Update all security packages
      ansible.builtin.package:
        name: '*'
        state: "{{ package_state}}"
        security: "{{ security_only }}"

    - name: Create a new user
      ansible.builtin.user:
        name: "{{ item }}"
        state: present
        create_home:  true
      loop:
        - alice
        - bob
        - carol

    - name: Install Apache Web Server
      ansible.builtin.package:
        name: "{{package_name}}"
        state: present
      when: inventory_hostname in groups['web']

    - name: Install Firdwalld
      ansible.builtin.package:
        name: firewalld
        state: present
      when: inventory_hostname in groups['web']

    - name: Ensure Firewall is running
      ansible.builtin.service:
        name: firewalld
        state: started
        enabled: true
      when: inventory_hostname in groups['web']

    - name: Allow HTTP traffic on web servers
      ansible.posix.firewalld:
        service: http
        permanent: true
        state: enabled
      when: inventory_hostname in groups['web']
      notify: Reload Firewall

    - name: Update MOTD from Jinja 2 Template
      ansible.builtin.template:
        src: templates/motd.j2
        dest: /etc/motd
    


  handlers:

    - name: Reload Firewall
      ansible.builtin.service:
        name: firewalld
        state: reloaded